html {
    background-color: #384041;
}

body {
    width: 450px;
    margin: auto;
}




.container {
    margin:0 auto;
    width: 480px;
    height: auto;
    margin:0 auto;
}



h1 {
    font-family: 'Cinzel Decorative';
    color: #d9d9d9;
    font-size:2.2em;
    margin: 2em 0 10px 0;
    text-shadow: 0px 2px 1px #040404;
}

.post_title {
    font-family: 'Nunito', sans-serif;
    color: #e9e9e9;
    font-size:0.9em;
    padding-top: 1em;
    padding-bottom: 0.2em;
}

span.stats {
    font-family: 'Cinzel Decorative';
    color: #e9e9e9;
    font-size:.8em;
    letter-spacing: 0.1em;
    padding-top: 0.2em;
}

span.author {
    font-family: 'Nunito', sans-serif;
    color: #1FD2FF;
    font-size:.8em;
    padding-left: 1em;
}

a {
    text-decoration: none;
    color: #a2a2a2;
    font-weight: normal;
}

p {
    padding-bottom:0px;
    font-size:.7em;
    font-family: 'Nunito', sans-serif;
    margin:0 auto;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

p:hover {
    background-color: #313131;
    }


a#userlink {
    text-decoration: none;
    color: #a2a2a2;
    font-weight: normal;
}
